---


import type { FeatureItems } from "src/types/index.d copy";
const features: Array<FeatureItems> = [
  {
    title: "Wing Spar",
    description:
      "CNC machining",
    image: "/images/Wing Spar.png",
  },
  {
    title: "Fuselage",
    description:
      "Metal fabrication",
    image: "/images/Fuelsage.png",
  },
  {
    title: "Engine turbine blades",
    description:
      "3D printing",
    image: "public/images/Turbine Blade.png",
  },
  {
    title: "Landing gear",
    description:
      "Injection molding",
    image: "/images/Landing Gear.png",
  },
  {
    title: "Avionics enclosure",
    description:
      "Sheet metal forming.",
    image: "/images/Avionics enclosure.png",
  },
  {
    title: "Wing ribs",
    description:
      "Composite layup",
    image: "/images/Wing Ribs.png",
  },
  {
    title: "Fuel tank",
    description:
      "Welding",
    image: "/images/Fuel Tank.png",
  },
  {
    title: "Propeller",
    description:
      "Casting",
    image: "/images/Propeller.png",
  },
  {
    title: "Cockpit instruments",
    description:
      "Electrical assembly",
    image: "/images/Cockpit instruments.png",
  },
  {
    title: "Wing flaps",
    description:
      "Assembly",
    image: "/images/Wing flaps.png",
  },
  {
    title: "Winglets",
    description:
      "Machining",
    image: "/images/Winglets.png",
  },
  {
    title: "Nose cone",
    description:
      "Polishing",
    image: "/images/Nose Tip.png",
  },
];
---

<section class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight " style="padding-top: 5rem;">
      Capabilities
    </h2>
  </div>
<div title="Components" id="features">
    <!-- <Fragment slot="lead">
      <h3 style="padding-left: 400px; padding-right: 400px;"> Astro comes batteries included.It takes
      the best parts of
     state-of-the-art tools and adds its own innovations</h3>
    </Fragment> -->
    <ul class="grid max-w-7xl grid-cols-1 gap-20 md:grid-cols-2 lg:grid-cols-3" >
      {
        features.map(({ title, description, image }) => (
          <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 rounded-lg shadow" >
            <div class="h-64 w-64 flex items-center justify-center rounded-full  text-white" >
       
              <img src={image} alt="">
            </div>
            <h3 class="text-center font-bold text-lg">{title}</h3>
            <p class="text-center text-white-600 text-sm">{description}</p>
          </li>
        ))
        }
    </ul>
</div>
</section>