---


import type { FeatureItems } from "src/types/index.d copy";
const features: Array<FeatureItems> = [
  {
    title: "Brake caliper",
    description:
      "CNC machining",
    image: "/images/Brake caliper.png",
  },
  {
    title: "Exhaust manifold",
    description:
      "Metal fabrication",
    image: "/images/Exhaust manifold.png",
  },
  {
    title: "Suspension arm",
    description:
      "3D printing",
    image: "public/images/Suspension arm.png",
  },
  {
    title: "Dashboard",
    description:
      "Injection molding",
    image: "/images/Dashboard.png",
  },
  {
    title: "Transmission gear",
    description:
      "Precision machining",
    image: "/images/Transmission gear.png",
  },
  {
    title: "Fuel pump",
    description:
      "Composite layup",
    image: "/images/Fuel pump.png",
  },
  {
    title: "Radiator",
    description:
      "Welding",
    image: "/images/Radiator.png",
  },
  {
    title: "Ignition coil",
    description:
      "Electrical assembly",
    image: "/images/Ignition coil.png",
  },
  {
    title: "Steering wheel",
    description:
      "Leather upholstery",
    image: "/images/Steering wheel.png",
  },
  {
    title: "Headlights",
    description:
      "Injection Moulding",
    image: "/images/remain auto.png",
  },
  {
    title: "Bumper",
    description:
      "Painting",
    image: "/images/Bumper.png",
  },
  {
    title: "Door handle",
    description:
      "Polishing",
    image: "/images/Door handle.png",
  },
];
---

<section class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight " style="padding-top: 5rem;">
      Capabilities
    </h2>
  </div>
<div title="Components" id="features">
    <!-- <Fragment slot="lead">
      <h3 style="padding-left: 400px; padding-right: 400px;"> Astro comes batteries included.It takes
      the best parts of
     state-of-the-art tools and adds its own innovations</h3>
    </Fragment> -->
    <ul class="grid max-w-7xl grid-cols-1 gap-20 md:grid-cols-2 lg:grid-cols-3" >
      {
        features.map(({ title, description, image }) => (
          <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 rounded-lg shadow" >
            <div class="h-64 w-64 flex items-center justify-center rounded-full  text-white" >
       
              <img src={image} alt="">
            </div>
            <h3 class="text-center font-bold text-lg">{title}</h3>
            <p class="text-center text-white-600 text-sm">{description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>