---

import type { FeatureItem } from "src/types/index.d.ts";
const features: Array<FeatureItem> = [
  {
    title: "CAD Designing",
    description:
      "CAD Designing Services, 2D Drafting, 3D Modelling, Rendering, Animation.",
    image: "public/images/cad design.png",
  },
  {
    title: "3D Printing",
    description:
      "Faster Prototyping with FDM, SLA, SLS, SLM, MJF, Polyjet, DMLS, available in 189 materials.",
    image: "public/images/car3dprinted.jpeg",
  },
  {
    title: "CNC Machining",
    description:
      "CNC Milling (3, 4 and 5 Axis), Turning & Machining Post Processing in 10+ finishes",
    image: "public/images/gears.png",
  },
  {
    title: "Injection Molding",
    description:
      "Rapid Tooling, Family Molds, Multi-Cavity Models. T1 samples in as fast as 15 days.",
    image: "public/images/injection molding.png",
  },
  {
    title: "Sheet Metal Works",
    description:
      "Sheet Metal Stamping, Cutting, Bending, Forming and more. Parts delivered within 1 day.",
    image: "public/images/sheet metal.jpeg",
  },
  {
    title: "Vaccum Casting",
    description:
      "Production quality parts in just 10 days, even at low volumes. 140+ materials to choose from.",
    image: "public/images/vacuum cated.png",
  },
];
---
<section class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight " style="padding-top: 5rem;">
      Capabilities
    </h2>
  </div>
  <div title="Capabilities" id="features">
    <!-- <Fragment slot="lead">
      <h3 style="padding-left: 400px; padding-right: 400px;"> Astro comes batteries included.It takes
      the best parts of
     state-of-the-art tools and adds its own innovations</h3>
    </Fragment> -->
    <ul class="grid max-w-7xl grid-cols-1 gap-20 md:grid-cols-2 lg:grid-cols-3" >
      {
        features.map(({ title, description, image }) => (
          <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 rounded-lg shadow dark:shadow-gray-100" >
            <div class="h-64 w-64 flex items-center justify-center rounded-full  text-white" >
       
              <img src={image} alt="">
            </div>
            <h3 class="text-center font-bold text-lg">{title}</h3>
            <p class="text-center text-white-600 text-sm">{description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>